@use 'base/variables' as v;
@use 'base/mixins' as m;

.common-card {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 1rem;

    width: 30rem;
    height: 45rem;
    background-color: v.$legendary;
    border-radius: 1rem 1rem 8rem 1rem;
    padding: 1rem;

    .common-card__image {

        width: 100%;
        height: 100%;
        border-radius: .7rem .7rem 6rem .7rem;
        image-rendering:pixelated;

    }

    .common-card__info {

        display: grid;
        grid-template-columns: repeat(2,1fr);

        width: 100%;
        height: 100%;


        .common-card__info--text {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            padding: 1rem 0 1.5rem 1rem;

            .common-card-brand {

                font-size: 1.5rem;
                font-weight: 700;
                color: v.$white;

            }

            .common-card-collection {

                font-size: 2.4rem;
                font-weight: 700;
                color: v.$white;

            }

        }

        .common-card__info--logo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: -10.5rem;
            position: relative;

            .common-card-hexa-1 {

                width: 100px; 
                height: 57px;
                background-color: v.$legendary; 
                transform: rotate(0deg);
                position: absolute;
                
            }
            
            .common-card-hexa-2 {
                
                width: 100px; 
                height: 57px; 
                background-color: v.$legendary; 
                transform: rotate(60deg);
                position: absolute;
                
            }
            
            .common-card-hexa-3 {
                
                width: 100px; 
                height: 57px; 
                background-color: v.$legendary; 
                transform: rotate(120deg);
                position: absolute;
                
            }

            .common-card-hexa-s {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100%;

                .common-card-hexa-1s {

                    width: 80px; 
                    height: 45.6px;
                    background-color: v.$white; 
                    transform: rotate(0deg);
                    position: absolute;
                    
                }
                
                .common-card-hexa-2s {
                    
                    width: 80px; 
                    height: 45.6px; 
                    background-color: v.$white; 
                    transform: rotate(60deg);
                    position: absolute;
                    
                }
                
                .common-card-hexa-3s {
                    
                    width: 80px; 
                    height: 45.6px; 
                    background-color: v.$white; 
                    transform: rotate(120deg);
                    position: absolute;
                    
                }

            }

            .common-card-hexa-img {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 999;
                width: 100%;
                height: 100%;

                background-image: url('../img/thumb/logo.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 5.5rem;

            }

        }

    }

}