@use 'variables' as v;
@use 'base/mixins' as m;

html {

    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;

}

*, 
*:before,
*:after {

    box-sizing: inherit;

}

body {

    font-family: v.$generic-font;
    font-size: 1rem;
    background-color: v.$beige;

}

.container {
    
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;  

}

p {

    font-size: 2rem;

}

a {

    text-decoration: none;

}

input {

    display: none;

}

h1, h2, h3, h4 {

    margin: 0;

}

h1 {

    font-size: 4rem;

}

h2 {

    font-size: 3.5rem;

}

h3 {

    font-size: 3rem;

}

h4 {

    font-size: 2.5rem;

}