@use 'variables' as v;

@mixin phone {
	@media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
	@media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
	@media (min-width: v.$desktop) {
        @content;
    }
}

@mixin button-main($color, $hover, $text) {

    padding: .4rem 1.5rem .3rem 1.5rem;
    font-size: 1.5rem;
    color: $text;
    border-bottom: .1rem solid transparent;
    border-radius: .3rem;
    background-color: $color;

    &:hover {

        border-bottom: .1rem solid v.$orange-light;
        background-color: $hover;

    }

    &:active {

        background-color: v.$white;

    }

}