//Fonts
$main-font: 'Satisfy', cursive;
$generic-font: 'Exo', sans-serif;

//Colors
$black: #000000;
$dark: #222831;
$dark-light: #5e6166;
$white: #FFFFFF;
$beige: #EFEFEF;
$gray-dark: #dfe0e0;
$gray-light: #EEEEEE;
$orange-dark: #d6522a;
$orange-light: #F66B0E;
$cian-dark: #112B3C;
$cian-medium: #205375;
$cian-light: #84A9AC;
$gold-dark: #a87c1c;
$gold-medium: #dfa525;
$gold-light: #e2be70;
$gold-lite: #e9ddc4;



//Media-size
$phone: 320px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;