@use 'base/variables' as v;
@use 'base/mixins' as m;

.collection-form {

    position: relative;
    width: 20rem;
    height: 2.6rem;

    .collection-menu {

        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0%;
        top: 0%;
    
        .collection-items {
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 1px solid v.$gold-medium;
            padding: 0 2.2rem;
            cursor: pointer;
            
            input {
                
                font-size: 1.7rem;
                color: v.$cian-dark;
                background-color: transparent;
                padding: 1.1rem 0;
                border: none;
                font-weight: 700;
                cursor: pointer;
    
            }

            i {

                font-size: 1.4rem;
                color: v.$cian-dark;

            }
    
        }

        .item-genesis,
        .item-orion,
        .item-feline {
            &:hover {
                background-color: v.$gold-down;
            }
        }

        .coll-menu-up {

            width: 100%;
            height: 2rem;
            background-color: v.$gold-light;
            border-radius: 2rem 2rem 0 0;
            border-bottom: 1px solid v.$gold-medium;

        }

        .coll-menu-down {

            width: 100%;
            height: 2rem;
            background-color: v.$gold-light;
            border-radius: 0 0 2rem 2rem;

        }
    
    }

}
