@use 'base/variables' as v;
@use 'base/mixins' as m;

.all-collections {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: calc(100vh - 13.1rem);

    .all-collections__show {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 80%;
        width: 75%;

    }

}