@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact-us {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: calc(100vh - 13.1rem);

    .contact-us__title {

        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 2rem;

    }
    
    .contact-us__input {

        display: flex;
        flex-direction: column;

        padding: 2rem 4rem;
        border-radius: 2rem;
        width: 55%;
        background-color: v.$cian-light;

        .contact-us-label {

            font-size: 1.7rem;
            font-weight: 700;
            margin: 2rem 0 .3rem 0;

        }

        .contact-us-input {

            font-size: 1.5rem;
            border: 1px solid v.$cian-dark;
            border-radius: .7rem;
            padding: .5rem .7rem;

        }
        
        .contact-us-submit {

            padding: 1rem 0;
            margin: 3.5rem auto 2rem auto;
            font-size: 1.5rem;
            font-weight: 700;
            color: v.$beige;
            border: 0;
            border-radius: .7rem;
            background-color: v.$orange-light;
            cursor: pointer;
            width: 50%;

            &:hover {

                background-color: v.$orange-dark;

            }

            &:active {

                background-color: v.$orange-light;

            }

        }

    }

    .access__signup {

        font-size: 1.4rem;
        margin: 3rem auto 0 auto;

        a {

            color: v.$orange-light;

        }
        
    }

}