@use 'base/variables' as v;
@use 'base/mixins' as m;

.collection {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    background-color: v.$gold-down;
    border-radius: 2rem;
    margin: 6.5rem auto 4rem auto;

    .collection__profile {

        display: grid;
        grid-template-columns: 40% 60%;

        .collection__profile--logo {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .collection__profile--logo-img {

                background-image: url(../img/thumb/logo.png);
                background-repeat:repeat;
                border-radius: 50%;
                width: 13rem;
                height: 13rem;
            
            }

        }

        .collection__profile--data {

            padding: 4.5rem 0;

            h2 {

                font-size: 2rem;
                margin-bottom: 1rem;

            }

            p {

                font-size: 1.5rem;

            }

        }

    }

    .collection__nfts {

        display: block;

        background-color: v.$beige;
        border-radius: 2rem;
        margin: 2.5rem 5.5rem 2.5rem 0;

        .collection__nfts--title {

            font-size: 2.3rem;
            margin: 2rem 0 2rem 2.5rem;
            color: v.$gold-dark;

        }

        .collection__nfts--table {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            margin: 3rem 4.5rem;

            .collection-category {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {

                    font-size: 1.1rem;
                    font-weight: 700;

                }

                .collection-category__amount {

                    img {

                        padding: 0;

                    }

                    p {

                        font-size: 1.2rem;

                    }

                }

            }

        }

    }

}

.show-collection {

    border-top: 1px solid v.$gold-light;
    padding-top: 3rem;

    .show-collection__menu {
        display: flex;
        flex-direction: column;

        .show-collection-label {

            font-size: 1.5rem;
            margin-bottom: .5rem;

        }
        .show-collection-input {
            border: 1px solid v.$gold-light;
            border-radius: 2rem;
        }
    }

}